/* For piece of code where image in left side and text in right*/

.reverse-highlight-section .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 950px;
  margin: 40px auto;
  padding: 24px;
  background: #e7f7ff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(140,140,150,.09);
}
.image-side {
  flex: 0 0 300px;
  text-align: center;
}
.image-side img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(110,110,110,0.08);
}
.image-side h3 {
  margin-top: 15px;
  color: #1282a2;
  font-weight: bold;
  font-size: 1.1em;
}
.text-side {
  flex: 1 1 340px;
  margin-left: 36px;
  min-width: 260px;
}
.text-side h2 {
  color: #145da0;
  margin-bottom: 16px;
}
@media (max-width: 780px) {
  .reverse-highlight-section .container {
    flex-direction: column;
    text-align: left;
    padding: 16px;
  }
  .image-side {
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
  }
  .text-side {
    margin-left: 0;
  }
}
